<div class="container-fluid">
  <!-- TABLE MODE -->
  <div class="row" *ngIf="tableMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Facility Creation</strong>
      </h4>
    </div>
    <div class="col-12 p-a-0">
      <form
        id="form"
        autocomplete="off"
        #facilitySearchForm="ngForm"
        class="row"
        style="width: 100%; margin-left: 0px"
      >
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>State</mat-label>
            <mat-select
              required
              name="state"
              [(ngModel)]="state"
              (selectionChange)="getDistricts(state.stateID)"
            >
              <mat-option *ngFor="let item of states_array" [value]="item">
                {{ item.stateName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>District</mat-label>
            <mat-select
              required
              name="district"
              [(ngModel)]="district"
              (selectionChange)="getTaluks(district.districtID)"
            >
              <mat-option
                *ngFor="let item of districts_array"
                [value]="item"
              >
                {{ item.districtName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>Taluk</mat-label>
            <mat-select
              required
              name="taluk"
              [(ngModel)]="taluk"
              (selectionChange)="loadFacilitiesByBlock(taluk.blockID)"
            >
              <mat-option *ngFor="let item of taluks_array" [value]="item">
                {{ item.blockName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div
      class=""
      style="text-align: end"
      *ngIf="facilityMasterList?.length > 0 && tableMode"
    >
      <mat-form-field id="filterbox">
        <mat-label>In-Table Search</mat-label>
        <input
          matInput
          name="filterTerm"
          [(ngModel)]="create_filterTerm"
          #filterTerm
          (keyup)="filterList(filterTerm.value)"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="table-responsive">
        <table
          mat-table
          [dataSource]="facilityList"
          *ngIf="showTableFlag"
          class="table table-striped table-hover"
        >
          <!-- S.No. Column -->
          <ng-container matColumnDef="sno">
            <th mat-header-cell *matHeaderCellDef>S.No.</th>
            <td mat-cell *matCellDef="let item; let i = index">{{ i + 1 }}</td>
          </ng-container>

          <!-- Facility Name Column -->
          <ng-container matColumnDef="facilityName">
            <th mat-header-cell *matHeaderCellDef>Facility Name</th>
            <td mat-cell *matCellDef="let item">{{ item.facilityName }}</td>
          </ng-container>

          <!-- Govt Facility Code Column -->
          <ng-container matColumnDef="facilityCode">
            <th mat-header-cell *matHeaderCellDef>Govt Facility Code</th>
            <td mat-cell *matCellDef="let item">{{ item.facilityCode }}</td>
          </ng-container>

          <!-- Facility Type Column -->
          <ng-container matColumnDef="facilityTypeName">
            <th mat-header-cell *matHeaderCellDef>Facility Type</th>
            <td mat-cell *matCellDef="let item">{{
              getFacilityTypeName(item.facilityTypeID)
            }}</td>
          </ng-container>

          <!-- Rural / Urban Column -->
          <ng-container matColumnDef="ruralUrban">
            <th mat-header-cell *matHeaderCellDef>Rural / Urban</th>
            <td mat-cell *matCellDef="let item">{{ getRuralUrban(item.facilityTypeID) }}</td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Edit</th>
            <td mat-cell *matCellDef="let item">
              <button
                mat-icon-button
                matTooltip="Edit"
                *ngIf="!item.deleted"
                (click)="editFacility(item)"
                style="border: unset; background-color: unset"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let item">
              <button
                md-raised-button
                color="accent"
                *ngIf="item.deleted"
                class="m-r-10 mat_green"
                (click)="activate(item.facilityID)"
              >
                Activate
              </button>
              <button
                md-raised-button
                color="primary"
                *ngIf="!item.deleted"
                class="m-r-10 mat_blue"
                (click)="deactivate(item.facilityID)"
              >
                Deactivate
              </button>
            </td>
          </ng-container>

          <!-- Header and Row Definitions -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div>
          <button
            md-raised-button
            color="primary"
            *ngIf="createButton"
            class="pull-right mat_blue"
            (click)="showForm()"
          >
            Create New Facility
          </button>
        </div>
        <div
          *ngIf="
            facilityList &&
            facilityList.data.length === 0 &&
            showTableFlag
          "
          style="text-align: center; font-size: 16px"
        >
          <strong>No records found</strong>
        </div>
        <mat-paginator
          #tablePaginator
          [hidden]="facilityList.data.length === 0"
          [pageSizeOptions]="[5, 10, 25]"
          [pageSize]="5"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>

  <!-- FORM MODE (Add) -->
  <div class="row" *ngIf="formMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Create New Facility</strong>
      </h4>
    </div>
    <div class="col-12 p-a-0">
      <form
        id="addform"
        #facilityAddForm="ngForm"
        class="row"
        style="width: 100%; margin-left: 0px"
      >
        <!-- Row 1: District (disabled), Taluk (disabled), Rural/Urban, Facility Type -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>District</mat-label>
            <mat-select
              required
              name="formDistrict"
              [(ngModel)]="district"
              [disabled]="true"
            >
              <mat-option *ngFor="let item of districts_array" [value]="item">
                {{ item.districtName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>Taluk</mat-label>
            <mat-select
              required
              name="formTaluk"
              [(ngModel)]="taluk"
              [disabled]="true"
            >
              <mat-option *ngFor="let item of taluks_array" [value]="item">
                {{ item.blockName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Rural / Urban</mat-label>
            <mat-select
              required
              name="formRuralUrban"
              [(ngModel)]="formRuralUrban"
              #ruralUrbanField="ngModel"
              (selectionChange)="onRuralUrbanChange()"
            >
              <mat-option value="Rural">Rural</mat-option>
              <mat-option value="Urban">Urban</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Facility Type</mat-label>
            <mat-select
              required
              name="facilityTypeID"
              [(ngModel)]="facilityTypeID"
              #facilityTypeField="ngModel"
              [disabled]="!formRuralUrban"
              (selectionChange)="onFacilityTypeChange()"
            >
              <mat-option
                *ngFor="let ft of filteredFacilityTypes"
                [value]="ft.facilityTypeID"
              >
                {{ ft.facilityTypeName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Row 2: Facility Name, Govt Code -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Facility Name</mat-label>
            <input
              matInput
              required
              [(ngModel)]="facilityName"
              maxlength="100"
              name="facilityName"
              #facilityNameField="ngModel"
              [disabled]="!facilityTypeID"
              (input)="checkDuplicateFacilityName()"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  !facilityNameField.valid &&
                  (facilityNameField.dirty || facilityNameField.touched)
                "
                >Facility Name is required</span
              >
              <span
                class="error_text"
                *ngIf="duplicateFacilityName"
                >Facility Name already exists in this Taluk</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Govt Facility Code</mat-label>
            <input
              matInput
              [(ngModel)]="facilityCode"
              maxlength="50"
              name="facilityCode"
              [disabled]="!facilityName"
            />
          </mat-form-field>
        </div>

        <!-- Dynamic: Villages multi-select (for lowest level / SC) -->
        <div class="col-6" *ngIf="selectedLevel && isLowestLevel(selectedLevel.levelValue)">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Select Villages</mat-label>
            <mat-select
              multiple
              required
              name="selectedVillages"
              [(ngModel)]="selectedVillages"
              #villagesField="ngModel"
              (selectionChange)="onVillageSelectionChange()"
            >
              <div class="select-search-box">
                <input
                  matInput
                  placeholder="Search..."
                  (input)="applyVillageFilter($any($event.target).value)"
                  (keydown)="$event.stopPropagation()"
                  (click)="$event.stopPropagation()"
                  [value]="villageSearch"
                  autocomplete="off"
                />
              </div>
              <div class="select-all-option" (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="allVillagesSelected"
                  (change)="toggleSelectAllVillages()"
                  (click)="$event.stopPropagation()"
                  color="warn"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-option
                *ngFor="let v of filteredVillages"
                [value]="v"
              >
                {{ v.villageName }} [{{ v.districtBranchID }}]
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Main Village (single-select from selected villages, for lowest level / SC) -->
        <div class="col-3" *ngIf="selectedLevel && isLowestLevel(selectedLevel.levelValue) && selectedVillages.length > 0">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Main Village (SC Location)</mat-label>
            <mat-select
              required
              name="mainVillageID"
              [(ngModel)]="mainVillageID"
              #mainVillageField="ngModel"
            >
              <mat-option *ngFor="let v of selectedVillages" [value]="v.districtBranchID">
                {{ v.villageName }} [{{ v.districtBranchID }}]
              </mat-option>
            </mat-select>
            <mat-hint>
              <span class="error_text" *ngIf="!mainVillageField.valid && (mainVillageField.dirty || mainVillageField.touched)">
                Main village is required
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <!-- Dynamic: Child Facilities multi-select (for non-lowest levels / PHC, CHC, etc.) -->
        <div class="col-6" *ngIf="selectedLevel && !isLowestLevel(selectedLevel.levelValue)">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Select {{ getChildLevelName() }}</mat-label>
            <mat-select
              multiple
              required
              name="selectedChildFacilities"
              [(ngModel)]="selectedChildFacilities"
              (selectionChange)="initDrillDown()"
              #childFacilitiesField="ngModel"
            >
              <div class="select-search-box">
                <input
                  matInput
                  placeholder="Search..."
                  (input)="applyChildFacilityFilter($any($event.target).value)"
                  (keydown)="$event.stopPropagation()"
                  (click)="$event.stopPropagation()"
                  [value]="childFacilitySearch"
                  autocomplete="off"
                />
              </div>
              <div class="select-all-option" (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="allChildFacilitiesSelected"
                  (change)="toggleSelectAllChildFacilities()"
                  (click)="$event.stopPropagation()"
                  color="warn"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-option
                *ngFor="let c of filteredChildFacilities"
                [value]="c"
              >
                {{ c.facilityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- For higher levels: cascading drill-down to reach village -->
        <ng-container *ngIf="selectedLevel && isHigherLevel(selectedLevel.levelValue)">
          <div class="col-3" *ngFor="let step of drillDownSteps; let i = index">
            <mat-form-field [style.width]="'100%'" *ngIf="step.facilities.length > 0">
              <mat-label>Select {{ step.levelName }}</mat-label>
              <mat-select
                [name]="'drillDown_' + i"
                [(ngModel)]="step.selectedFacilityID"
                (selectionChange)="onDrillDownSelect(i, $event.value)"
              >
                <mat-option *ngFor="let f of step.facilities" [value]="f.facilityID">
                  {{ f.facilityName }} [{{ f.facilityID }}]
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-3" *ngIf="drillDownVillages.length > 0">
            <mat-form-field [style.width]="'100%'">
              <mat-label>Main Village</mat-label>
              <mat-select
                name="mainVillageID"
                [(ngModel)]="mainVillageID"
              >
                <mat-option *ngFor="let v of drillDownVillages" [value]="v.districtBranchID">
                  {{ v.villageName }} [{{ v.districtBranchID }}]
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </ng-container>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 m-t-15" style="padding-bottom: 40px">
      <button
        mat-raised-button
        color="primary"
        class="pull-left mat_blue"
        (click)="showTable()"
      >
        Back
      </button>
      <button
        mat-raised-button
        color="accent"
        class="pull-right mat_green"
        [disabled]="facilityAddForm.invalid || duplicateFacilityName"
        (click)="saveSingleFacility()"
      >
        Save
      </button>
    </div>
  </div>

  <!-- EDIT MODE -->
  <div class="row" *ngIf="editMode">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h4>
        <strong>Edit Facility</strong>
      </h4>
    </div>
    <div class="col-12 p-a-0">
      <form
        autocomplete="off"
        id="editform"
        #facilityEditForm="ngForm"
        class="row"
        style="width: 100%; margin-left: 0px"
      >
        <!-- Row 1: District (disabled), Taluk (disabled), Rural/Urban, Facility Type -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>District</mat-label>
            <mat-select
              name="editFormDistrict"
              [(ngModel)]="district"
              [disabled]="true"
            >
              <mat-option *ngFor="let item of districts_array" [value]="item">
                {{ item.districtName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'" class="hide_underline">
            <mat-label>Taluk</mat-label>
            <mat-select
              name="editFormTaluk"
              [(ngModel)]="taluk"
              [disabled]="true"
            >
              <mat-option *ngFor="let item of taluks_array" [value]="item">
                {{ item.blockName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Rural / Urban</mat-label>
            <mat-select
              required
              name="edit_ruralUrban"
              [(ngModel)]="edit_ruralUrban"
              [disabled]="true"
            >
              <mat-option value="Rural">Rural</mat-option>
              <mat-option value="Urban">Urban</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Facility Type</mat-label>
            <mat-select
              required
              name="edit_facilityTypeID"
              [(ngModel)]="edit_facilityTypeID"
              [disabled]="true"
            >
              <mat-option
                *ngFor="let ft of edit_filteredFacilityTypes"
                [value]="ft.facilityTypeID"
              >
                {{ ft.facilityTypeName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Row 2: Facility Name, Govt Code -->
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Facility Name</mat-label>
            <input
              matInput
              required
              maxlength="100"
              [(ngModel)]="edit_facilityName"
              name="edit_facilityName"
              #editFacilityNameField="ngModel"
              (input)="checkEditDuplicateFacilityName()"
            />
            <mat-hint>
              <span
                class="error_text"
                *ngIf="
                  !editFacilityNameField.valid &&
                  (editFacilityNameField.dirty || editFacilityNameField.touched)
                "
                >Facility Name is required</span
              >
              <span
                class="error_text"
                *ngIf="edit_duplicateFacilityName"
                >Facility Name already exists in this Taluk</span
              >
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Govt Facility Code</mat-label>
            <input
              matInput
              [(ngModel)]="edit_facilityCode"
              maxlength="50"
              name="edit_facilityCode"
            />
          </mat-form-field>
        </div>

        <!-- Dynamic: Villages multi-select (for lowest level / SC) -->
        <div class="col-6" *ngIf="edit_selectedLevel && isLowestLevel(edit_selectedLevel.levelValue)">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Select Villages</mat-label>
            <mat-select
              multiple
              required
              name="edit_selectedVillages"
              [(ngModel)]="edit_selectedVillages"
              #editVillagesField="ngModel"
              [compareWith]="compareVillages"
              (selectionChange)="onEditVillageSelectionChange()"
            >
              <div class="select-search-box">
                <input
                  matInput
                  placeholder="Search..."
                  (input)="applyEditVillageFilter($any($event.target).value)"
                  (keydown)="$event.stopPropagation()"
                  (click)="$event.stopPropagation()"
                  [value]="edit_villageSearch"
                  autocomplete="off"
                />
              </div>
              <div class="select-all-option" (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="allEditVillagesSelected"
                  (change)="toggleSelectAllEditVillages()"
                  (click)="$event.stopPropagation()"
                  color="warn"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-option
                *ngFor="let v of edit_filteredVillages"
                [value]="v"
              >
                {{ v.villageName }} [{{ v.districtBranchID }}]
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Main Village (single-select from selected villages, for lowest level / SC) -->
        <div class="col-3" *ngIf="edit_selectedLevel && isLowestLevel(edit_selectedLevel.levelValue) && edit_selectedVillages.length > 0">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Main Village (SC Location)</mat-label>
            <mat-select
              required
              name="edit_mainVillageID"
              [(ngModel)]="edit_mainVillageID"
              #editMainVillageField="ngModel"
            >
              <mat-option *ngFor="let v of edit_selectedVillages" [value]="v.districtBranchID">
                {{ v.villageName }} [{{ v.districtBranchID }}]
              </mat-option>
            </mat-select>
            <mat-hint>
              <span class="error_text" *ngIf="!editMainVillageField.valid && (editMainVillageField.dirty || editMainVillageField.touched)">
                Main village is required
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <!-- Dynamic: Child Facilities multi-select (for non-lowest levels / PHC, CHC, etc.) -->
        <div class="col-6" *ngIf="edit_selectedLevel && !isLowestLevel(edit_selectedLevel.levelValue)">
          <mat-form-field [style.width]="'100%'">
            <mat-label>Select {{ getEditChildLevelName() }}</mat-label>
            <mat-select
              multiple
              required
              name="edit_selectedChildFacilities"
              [(ngModel)]="edit_selectedChildFacilities"
              #editChildFacilitiesField="ngModel"
              [compareWith]="compareFacilities"
            >
              <div class="select-search-box">
                <input
                  matInput
                  placeholder="Search..."
                  (input)="applyEditChildFacilityFilter($any($event.target).value)"
                  (keydown)="$event.stopPropagation()"
                  (click)="$event.stopPropagation()"
                  [value]="edit_childFacilitySearch"
                  autocomplete="off"
                />
              </div>
              <div class="select-all-option" (click)="$event.stopPropagation()">
                <mat-checkbox
                  [checked]="allEditChildFacilitiesSelected"
                  (change)="toggleSelectAllEditChildFacilities()"
                  (click)="$event.stopPropagation()"
                  color="warn"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-option
                *ngFor="let c of edit_filteredChildFacilities"
                [value]="c"
              >
                {{ c.facilityName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-sm-12 m-t-15" style="padding-bottom: 40px">
      <button
        mat-raised-button
        color="primary"
        class="pull-left mat_blue"
        (click)="showTable()"
      >
        Back
      </button>
      <button
        mat-raised-button
        color="accent"
        class="pull-right mat_green"
        [disabled]="facilityEditForm.invalid || edit_duplicateFacilityName"
        (click)="updateFacility()"
      >
        Update
      </button>
    </div>
  </div>
</div>
