.span-style {
    visibility: hidden;
    position: absolute; 
    overflow: hidden; 
    width: 0px; 
    height:0px;
    border:none;
    margin:0; 
    padding:0;
}
.mat-header-cell,
.mat-cell {
  text-align: left; /* or left/right depending on need */
  vertical-align: middle;
}
.title {
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight:700;
    font-size: 18px;
    background-color: #0277bd !important;
  }
  
  .message {
    font: 500 20px / 32px Roboto, "Helvetica Neue", sans-serif;
    padding:0px 24px 0px 24px;

  }

  .info {
    background: #0277bd;
  }

  .signature-container {
  display: flex;
  justify-content: center; /* center image horizontally */
  margin: 20px 0;          /* space top & bottom */
}

.signature-img {
  max-width: 100%;
  max-height: 200px;
}

.action {
  display: flex;
  justify-content: flex-end; /* align button right */
  margin: 20px 20px 10px 0;  /* spacing: top right bottom left */
}

.ok-btn {
  margin-right: 10px; /* small gap from edge */
}